
.main{
    display: flex;
  
    justify-content: center;
}
.cal{
   margin-top: calc(100vh - 75vh);
    /* border:1px solid red; */
    padding: 1rem;
    border-radius: 10px;
    width: 20vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
    box-shadow: -9px 12px 10px rgba(250, 102, 203, 0.959), 5px -5px 15px rgb(41, 157, 245);; 
}
.btn{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
}
.btn>button{
    background-color: rgb(32, 31, 31);
    color: white;
    outline: none;
    border: none;
    padding: 5px 12px;
}
input{
    padding: 0.3rem;
}
.res{
    text-align: center;
}